@import './breakpoints.scss';

@mixin fontface-light {
    font-weight: 300;
}
@mixin fontface-regular {
    font-weight: 400;
}
@mixin fontface-bold {
    font-weight: 700;
}
@mixin fontface-italic {
    font-style: italic;
}

@mixin fontsize-l {
    @include fontface-regular();

    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.05;

    @media (min-width: $breakpoint-medium) {
        font-size: 19px;
        line-height: 27px;
    }
    @media (min-width: $breakpoint-xlarge) {
        font-size: 20px;
        line-height: 29px;
    }
}

@mixin fontsize-m {
    @include fontface-regular();

    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.05px;

    @media (min-width: $breakpoint-medium) {
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0.05px;
    }
    @media (min-width: $breakpoint-xlarge) {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.05px;
    }
}

@mixin fontsize-s {
    @include fontface-regular();

    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.04px;

    @media (min-width: $breakpoint-medium) {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.05px;
    }
    @media (min-width: $breakpoint-xlarge) {
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.1px;
    }
}

@mixin fontsize-xs {
    @include fontface-regular();

    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.07px;

    @media (min-width: $breakpoint-medium) {
        font-size: 13px;
        line-height: 17px;
        letter-spacing: 0.08px;
    }
    @media (min-width: $breakpoint-xlarge) {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.08px;
    }
}

