<div class="quiz-container">
  <ng-container *ngIf="showResults$ | async; else questionBlock">
    <quiz-result></quiz-result>

    <button color="accent" mat-raised-button (click)="restart()">
      Take the quiz again
    </button>
  </ng-container>
  <ng-template #questionBlock>
    <span class="question-text"
      >Question {{ currentQuestionCounter$ | async }} /
      {{ questionLength$ | async }}</span
    >
    <quiz-question></quiz-question>
    <button
      class="next-question"
      color="primary"
      mat-raised-button
      [disabled]="(selectedAnswerIdx$ | async) === undefined"
      (click)="nextQuestion()"
    >
      Next question
    </button>
  </ng-template>
</div>
