<div class="quiz-container">
  <ng-container *ngIf="showResults$ | async; else questionBlock">
    <div class="quiz-results">
      <div class="greetings"></div>
    </div>
    <div>You have managed to complete the quiz. Your overall score is :??</div>

    <button mat-raised-button (click)="restart()">Take the quiz again</button>
  </ng-container>
  <ng-template #questionBlock>
    <span class="question-text"
      >Question {{ currentQuestionCounter$ | async }} /
      {{ questionLength$ | async }}</span
    >
    <quiz-question></quiz-question>
  </ng-template>

  <button mat-raised-button (click)="nextQuestion()">Next question</button>
</div>
