<div
  class="quiz-container"
  [@nextQuestionAnimation]="currentQuestionCounter$ | async"
>
  <ng-container *ngIf="showResults$ | async as showResults; else questionBlock">
    <div class="quiz-result-container" @enterQuizResultsAnimation>
      <quiz-result></quiz-result>


    </div>
  </ng-container>
  <ng-template #questionBlock>
    <div class="question-wrapper">
      <span class="question-text"
        >Question {{ currentQuestionCounter$ | async }} /
        {{ questionLength$ | async }}</span
      >
      <quiz-question></quiz-question>
    </div>

    <button
      class="next-question"
      color="primary"
      mat-raised-button
      [disabled]="(selectedAnswerIdx$ | async) === undefined"
      (click)="nextQuestion()"
    >
      Next question
    </button>
  </ng-template>
</div>
