@import 'breakpoints.scss';
:host {
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #f5f7f9;

  @media screen and (min-width: $breakpoint-medium) {
    border-radius: 0.5rem;
    max-width: 800px;
    min-width: 320px;
    min-height: 500px;
    margin-top: 100px;
  }
}

.quiz-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.restart-quiz {
  margin-top: 20px;
}

.question-text {
  margin-bottom: 10px;
}

.next-question {
  margin-top: 50px;
  width: 100%;
}

.mat-button-disabled {
  cursor: not-allowed;
}
